<div class="card mt-4">
  <div class="card-header">
    Notification
  </div>
  <div class="card-body">
    <h5 class="card-title">Coming soon birthday</h5>
  {% if  birthdays %}
      {% for contact in birthdays %}
    <p class="card-text">Contact:{{ contact.name }}</p>
    <p class="card-text">days to birthday: {{ contact.days_to_birthday }}</p>
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
      {% endfor %}
  {% else %}
      <p class="card-text">The next 7 days there are no birthday parties</p>
  {% endif %}
  </div>
</div>